*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "popins", sans-serif;
   
}
/*new code*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  background: rgba(113, 99, 186, 255);
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 14px;
  padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(113, 99, 186, 255);
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active{
    background: #e0e0e058;
}
.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
    font-size: 14px;
}
.menu a i{
    font-size: 1.2rem;
}
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  margin-top: 50px;

}
 
div.content {
  margin-left: 240px;
  padding: 1px 16px;
  height: 1000px;
}

.content{
    background: #ebe9e9;
}
.main--content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header--title{
    color: rgba(113, 99, 186, 255);
}
.user--info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}
.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.main--title{
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}
.payment--card{
    background: rgb(229, 223, 223);
    padding: 1.2rem;
    width: 430px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}
.payment--card:hover{
    transform: translate(-5px);
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.amounr{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 20px;
    font-weight: 200;
}
.amount--value{
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.icon{
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-radius: 5.5rem;
    background: red;
}
#logo{
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5.5rem;
}


.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}
.dark-purpule{
    background: purple;
}
.dark-red{
    background: red;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}
/*new code */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.main--title {
    align-content: center;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  #btn1 {
    float: right;
  }